<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="p-4 border rounded" style="min-width: 300px;">
        <h2>Login Page</h2>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-primary" (click)="logIn()">Login</button>
    </div>
</div>
