.header{
    padding: 2vw;
    background-color: #550b14;
}

.headerLabel{
    font-size: 2vw;
    font-weight: bold;
    color: #c2ac8f;
}

@media (max-width: 752px) {
    .header{
        padding: 6vw;
    }

    .headerLabel{
        font-size: 7vw;
    }
}